:root
{
    --color-bg-main: #ececea;
    --color-font-main: #484848;
    --color-border-main: #484848;
}

*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body
{
    background-color: var(--color-bg-main);
    margin: 1em;
}

#canvas-holder
{
    display: inline-block;

    border: 2px var(--color-border-main) solid;
}


#ref-image {
    display: none;
}